html,body{
    height:100%;
    margin: 0;
    padding: 0;
    overflow: hidden;

}
#title_field{
   text-align: center;
    padding-bottom: 10px;

}

.form-group
{
    padding-top: 30px;
    display: flex;
    text-align: center;
}

#f_three{
    width: 50%;
    padding-right: 10px;
    padding-left: 30px;
}

#s_three{
    min-width: 50%;
    float: right;
    padding-left: 10px;
    padding-right: 30px;

}

#submit{
  

    margin-right: 30px;

}

#b_half{
    position: absolute;
    min-height: 50vh;
    max-height: 100vh;
    padding:0;
    margin: 0;
    left:0;
    right: 0;
    background-color: #6c6a6a;
    text-align: center;
    align-content: center;

}

#lab{
    background-color: #e2e2e2;
    border-radius: 5px;
    padding:5px;
    margin-top: 2%;
    font-size: 300%;

}